 @font-face {
  font-family: 'GongGothicMedium'; /* 이사만루체 */
  src: url(../font/esamanruMedium.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GongGothic300';
  src: url(../font/esamanruLight.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GongGothic700';
  src: url(../font/esamanruBold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Pretendard';
}

/* 헤더 */
.header{
  width: 100%;
  height: 100px; 
  display: flex;
  padding-left: 170px;
  align-items: center; 
  position: fixed;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.header h1{
  width: 207px;
  height: 28px;
}
.header_btn_wrap{
  display: flex;
  position: absolute;
  right: 170px;
}
.header_btn{
  width: 152px;
  height: 48px;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  line-height: 48px;
  border-radius: 10px;
}

/* 옆 헤더 */
.left .ul li{
  margin-bottom: 13px;
}
.left li span:first-child.on{ 
  background-color: #01CB8B;
}
.left li span:first-child{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #CCCCCC;
  border-radius: 50%;
}
.left .ul span:last-child{
  margin-left: 6px;
}

/* 아래 헤더 */ 
.bottom{
  display: flex;
  position: absolute;
  bottom: 6%;
  text-align: center;
  color: #66B8FF;
  z-index: 99999;
}
@keyframes scroll {
  from {transform: translateY(-50px)}
  70% {transform: translateY(-10px); opacity: 1;}
  100% {opacity: 0;} 
}
.bottom a img{
  animation: scroll 1.5s infinite;
} 

/* 공통요소 */
.content{
  height: 100vh;
}

/* reveal 애니메이션 정의 */
@keyframes reveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* 넘치는 부분이 잘리도록 설정 */
.reveal {
  word-spacing: 2px;
  overflow: hidden;
}
/* 애니메이션 적용, cubic-bezier는 전환 효과임 */
.letter {
  display: inline-block;
  animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

/* 푸터 */
footer{
  width: 100%;
  background-color: #005CAC;
}
footer .footer_wrap{
  display: flex;
  justify-content: space-between; 
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 24px 60px 24px; 
}
.ul_wrap1{
  display: flex;
  margin-bottom: 20px;
}
.ul_wrap1 li{
  margin-right: 36px;
  color: #fff;
}
.ul_wrap1 li b{
  color: #fff;
}
.ul_wrap2{
  display: flex;
  flex-wrap: wrap;
  color: #99CFFF;
}
.ul_wrap2 li{
  position: relative;
  margin-right: 5px;
  color: #99CFFF;
  margin: 0 8px;
}
.ul_wrap2 li:not(:nth-child(1))::after{
  content: '';
  position: absolute;
  top: 2px;
  left: -8px;
  width: 1px;
  height: 14px;
  background-color: #99CFFF;
}
address{
  color: #99CFFF;
  margin-bottom: 22px;
  line-height: 32px;
}
small{
  color: #99CFFF;
}

/*  미디어쿼리  */
/* 태블릿 */
@media screen and (max-width: 1290px) { 
  /* 메인 헤더 */
  .header {
    height: 11%;
    padding-left: 40px;
  }
  .header a img {
    width: 70%;
    height: 70%;
    vertical-align: middle;
  }
  .header h1 a img {
    width: 207px;
    height: 28px;
  }
  .header_btn {display: none;}

  /* 푸터 */
  .footer_wrap {
    flex-direction: column;
  }
  .footer_wrap .text_wrap {
    margin-top: 10px;
  }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  /* 옆 헤더 */
  .left {display: none;}

  /* 메인 */
  .main_title_wrap h2 {line-height: 130%;}
}
