/* 전체세팅 */

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Racing Sans One', 'SUIT-Regular', sans-serif;
  position: relative;
}

/* 헤더 */
